/* CSS */
.tm_cursor-trail {
  width: 30px;
  height: 30px;
  border: 2px solid #B9DFCE;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: opacity 0.3s;
}

.tm_cursor-dot {
  width: 6px;
  height: 6px;
  background: #77C588;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: opacity 0.3s;
}

.tm_cursor-disk {
  width: 60px;
  height: 60px;
  background: #B9DFCE;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.3;
  z-index: 9998;
  transition: transform 0.3s;
}

.tm_cursor-trail.tm_hide,
.tm_cursor-dot.tm_hide {
  opacity: 0;
}

.tm_cursor-disk.tm_active {
  transform: translate(-50%, -50%) scale(1);
}
